
body {
	background-color: white;
}

h1, a {
	font-family: 'Roboto', sans-serif;
}
h1 {
	color: white;
}

.img-circle {
background-color: white;
border-radius: 50%;
width : 250px;
height : 250px;
object-fit: cover;
border: 5px solid white;
position: relative;
top: 22px;
right: -0.80px;
}

.debut {
    background-image: url(px1.png);
    padding: 48px;
    text-align: center;
    width: 1350px;
    height: 200px;
    position: relative;
    top: -2px;
}


.list-inline li {
	display: inline;
	
}

.list-inline {
	padding: 48px;


.list-inline i {
	font-size: 48px;
	color: rgba(0,0,0,0.3);
}

 .list-inline i:hover {
 	color: black;
 }

 .list-inline i:hover {
 	transform: rotate(45deg);
 }
